* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: darkblue;
    /* height: 100px; */
}

section{
    background-color: lightblue;
    /* height: 400px; */
}
a{
    text-decoration: none;
    color: white;
    border: 1px solid black;
}

.top-left{
    border: 1px solid black;
}

.top-right{
    border: 1px solid black;
}
