* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkblue;
    /* height: 100px; */
    position: fixed;
}

section{
    background-color: lightblue;
    /* height: 400px; */
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.img{
    margin: 40px;
    margin-bottom: 20px;
    max-height: 250px;
}
hr, p{
    color: white;
}
.centrale{
    font-size: 30px;
}
.testo{
    padding: 10px;
}
