* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkblue;
    position: fixed;
}

section{
    background-color: lightblue;
}

a{
    text-decoration: none;
    padding: 20px;
}

hr, p, i, a{
    color: white;
}
.centrale{
    font-size: 30px;
}
.testo{
    padding: 10px;
}
